#pip install torch==1.13.1+cu117 torchvision==0.14.1+cu117 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu117
#conda install -c conda-forge faiss-gpu
##
# install cython box 
# python setup.py build_ext install
##
tensorboardX
lap
yacs
## fast reid
matplotlib
scipy
Pillow
numpy==1.23.5
prettytable
easydict
pyyaml
yacs
termcolor
tabulate
tensorboard
opencv-python
pyyaml
scikit-learn
gdown
PyQt5
seaborn